.about-me {
  margin-top: 160px;
  .konten {
    margin-top: 50px;
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.095em;
  }
}

@media only screen and (max-device-width: 480px) {
  .about-me {
    .konten {
      margin-top: 35px;
      font-size: smaller;
    }
  }
}
