.contact {
  margin-top: 160px;
  margin-bottom: 80px;
  form {
    input {
      margin-bottom: 25px;
      border: none;
      border-bottom: 5px solid #89222e;
      border-left: 5px solid #89222e;
      box-sizing: border-box;
      background-color: transparent;
    }
    textarea {
      margin-bottom: 25px;
      border: none;
      border-bottom: 5px solid #89222e;
      border-left: 5px solid #89222e;
      box-sizing: border-box;
      background-color: transparent;
    }
  }
}
