.jumbotron-web {
  .kiri {
    padding-top: 130px;
    margin-bottom: 30px;
    p {
      font-family: "Raleway", sans-serif;
    }
    .nama {
      font-size: 52px;
      font-weight: bold;
    }

    .icon {
      margin-top: 100px;

      i {
        margin-right: 20px;
        font-size: 40px;
        color: rgb(24, 23, 23);
      }
    }
  }
  .kanan {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
    }
  }
}
