.skills {
  margin-top: 160px;
  margin-bottom: 160px;
  .konten {
    margin-top: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.18538em;

    color: #000000;
  }
  .skills-detail {
    margin-top: 25px;

    img {
      height: 130px;
      margin-bottom: 40px;
    }
  }
}
